$current-day-calendar-color: #FF4136;


.calendar-container {
  background-color: rgba(0,0,0,0.6);

  .calendar {
    table {
      tbody {
        .today-day .calendar-day {
          color: $current-day-calendar-color !important;
        }

        .month-day .calendar-day {
          color: $main-font-color;
        }

        .non-month-day .calendar-day{
          color: #444;
        }

        a {
          background-color: rgba(0,0,0,0.2);
        }

        a:hover {
          background-color: rgba(255,255,255,0.2);
        }
      }
    }
  }

  #calendar-side {
    border-left: 15px solid $container-background;
  }
}
