input {
  background-color: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  color: #EEE;

  &.in-box {
    background-color: #aaaaaa09;
    border-right: 2px solid #6769EA55;
    transition: 0.2s linear;

    &:focus {
      border-right: 2px solid #6672C5;
    }
  }

  &.in-box-left {
    background-color: #aaaaaa09;
    border-left: 2px solid #6769EA55;
    transition: 0.2s linear;

    &:focus {
      border-left: 2px solid #6672C5;
    }
  }

  &::placeholder {
    color: #ddd;
    opacity: 1;
  }
}

button {
  background-color: #6769EA33;
  box-shadow: none;
  border: none;
  outline: none;
  color: #EEE;

  &:hover { background-color: #6769EA55; }
  &:active { background-color: #6769EA77; }

  &.warning-btn {
    &:hover { color: $main-red; }
  }
}



.radios-row {
  background-color: #25262E;

  input[type="radio"] + label {
    background-color: #aaaaaa09;
    border-left: 2px solid #252738;
    transition: 0.1s linear;
  }
  input[type="radio"]:checked + label {
    background-color: $primary-background;
    border-left: 2px solid #6769EA55;
  }
  input[type="radio"]:not(:checked) + label {
    background: transparent;
    box-shadow: none;
  }
}

[type="checkbox"]:not(:checked) + label:before {
  background-color:#adb0b9;
}
[type="checkbox"]:checked + label:before {
  background-color: #6769EA55;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  color: #EEE;
}
/* Disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #e9e9e9;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #777;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
