form {
  input {
    background-color: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    color: #EEE;
  }

  button {
    background-color: #6769EA;
    box-shadow: none;
    border: none;
    outline: none;
    color: #EEE;
  }
}
