.navigation-menu {
  border-right: 2px solid #282932;
  background-color: $primary-background;

  a {
    color: #79787D;

    i {
      color: #79787D;
    }

    svg path {
      color: rgba($color: #FFF, $alpha: 0.4);
    }

    &.active {
      color: #CACCD0;
      i {
        color: #afb1b6;
      }

      &:after {
        background-color: #6672C5;
      }
    }

    &:hover {
      background-color: inherit;
      color: $main-font-color !important;

      i,
      svg path {
        color: #CACCD0;
      }
    }
  }

  color: #FFF;

  .nav {
    border-top: 15px solid $container-background-color;
  }

  .operations {
    border-bottom: 15px solid $container-background-color
  }

  .menu-divider {
    border-bottom: 15px solid $container-background-color;
  }
}
