$primary-background: #20212a;
$secondary-background: #20212a;
$container-background-color: #20212a;

$main-font-color: #eee;
$hover-font-color: #fff;
$hover-background-color: #fff;

$main-green: #2ecc40;
$main-red: #ff4136;
$main-grey: #aaaaaa;
$main-orange: #ff851b;
$main-yellow: #ffdc00;
$main-blue: #0074d9;
$main-navy: #001f3f;
$main-olive: #3d9970;
