$primary-background: #000;
$secondary-background: #333;
$container-background-color: #181818;

$main-font-color: #EEE;
$hover-font-color: #FFF;
$hover-background-color: #FFF;

$main-green: #2ECC40;
$main-grey: #AAAAAA;
