$primary-background: #20212A;
$secondary-background: #20212A;
$container-background-color: #20212A;

$main-font-color: #EEE;
$hover-font-color: #FFF;
$hover-background-color: #FFF;

$main-green: #2ECC40;
$main-red: #FF4136;
$main-grey: #AAAAAA;
