body {
  background-color: $primary-background;
  color: $main-font-color;
}

pre {
  background-color: $main-font-color;
}

a {
  color: $main-font-color;
  &:hover {
    color: $hover-font-color;
    background-color: $hover-background-color;
  }
}

.container {
  background-color: $container-background-color;
}

#logo {
  fill: #D6D6D6;
}

#spinner div {
  background: #333;
}


.green, .green path { color: $main-green !important; fill: $main-green !important; }
.grey, .grey path   { color: $main-grey !important; fill: $main-grey !important; }
