.wallet-container {
  .wallet-menu {
    form.wallet-dates-form {
      .row:first-child {
        border-bottom: 1px solid #444;
      }
      label {
        color: #777;
      }
    }

    .calendar-nav-arrows span.disabled {
      color: #777;
    }

    .wallet-month {
      color: #ccc;
      &.active {
        color: #eee;
      }
      &:hover {
        color: #fff;
      }
    }
  }
}
