@import 'reset-css';

@import './layout/index.scss';
@import './components/index.scss';
@import './colors/index.scss';

// General site-wide

* {
  box-sizing: border-box;
}

body, #react {
  font-family: "Trebuchet MS", Arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.numeric-font {
  font-family: Arial, serif;
}

a {
  text-decoration: none;
}

p, ol, ul, td {
  font-family: Arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  padding: 10px;
  font-size: 11px;
}
