$calendar-height: 350px;

.calendar-container {
  height: $calendar-height;

  .calendar-heading {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .calendar-title {
      font-size: 15px;
      font-weight: bold;
      padding-left: 9px;
    }
    .calendar-nav-arrows {
      font-size: 40px;
      margin-top: 0px;

      span {
        cursor: pointer;

        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }

  .calendar {
    user-select: none;
    margin: 0 auto;
    width: 100%;
    padding-left: 15px;
    padding-top: 35px;

    .calendar-day-names {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 5px;
      margin-top: 15px;
      font-size: 10px;

      span {
        display: block;
        width: calc(100% / 7);
        text-align: center;
      }
    }

    .calendar-days {
      .calendar-day-container {
        float: left;
        height: 40px;
        width: calc(100% / 7);
      }

      .calendar-day {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }

      .month-day .calendar-day:hover {
        cursor: pointer;
      }
    }
  }
}


.events-container {
  height: calc(100vh - #{$calendar-height} - 17px);
  margin-left: 15px;

  .event-card {
    font-size: 12px;
    position: relative;
  }

  .social-event-title {
    display: inline-block;
    width: calc(100% - 40px);
    padding-right: 10px;
  }

  .social-event-time {
    position: absolute;
    right: 0;
    top: calc(50% - 10px);
    margin-right: 10px;
  }

  .event-title {
    display: inline-block;
    width: calc(100% - 30px);
  }
  .event-done-button {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: calc(50% - 20px);
    padding: 10px;

    i { font-size: 20px; }

    &.done {
      right: 2px;
      top: calc(50% - 19px);
      i { font-size: 14px; }
    }
  }
}
