$ubuntu-font: "Ubuntu", 'Trebuchet MS', Arial, sans-serif;
$lato-font: "Lato", "Trebuchet MS", Arial, helvetica, sans-serif;

.section-title {
  font-size: 15px;
  font-family: $ubuntu-font;
}

.numeric-font {
  font-family: $ubuntu-font;
}

.page-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: 'page_menu page';
  grid-template-columns: 250px auto;
  grid-template-rows: 100%;
  overflow: hidden;

  .page-menu {
    grid-area: page_menu;
    padding-left: 25px;
    padding-right: 35px;
  }

  .page-main {
    grid-area: page;
    width: 100%;
    height: 100%;

    .cards {
      height: calc(100vh - 37px);
    }
  }
}

.card {
  border-radius: 3px;

  .card-summary {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .action-icons {
    width: 120px;

    i {
      display: inline-block;
      width: 40px;
      font-size: 11px;
      height: 45px;
      line-height: 45px;
      text-align: center;
      transition: .1s linear;

      &:hover {
        cursor: pointer;
      }

      &:first-child {
        font-size: 12px;
      }
      &:not(:first-child) {
        margin-top: -1px;
      }
    }
    i.fa-edit {
      padding-left: 2px;
    }
  }
}

.modalcard {
  position: absolute;
  display: flex;
  flex-direction: column;

  .top-panel {
    width: 100%;
    height: 20px;
    cursor: move;
    user-select: none;
    font-size: 11px;
    font-family: $ubuntu-font;


    .maximize-modalcard,
    .close-modalcard {
      font-size: 13px;
      width: 20px;
      height: 20px;
      text-align: center;
      background-color: #0004;
      cursor: pointer;
      transition: .2 linear;
    }
  }

  .body {
    width: 100%;
    flex-grow: 1;
    overflow: auto;
  }
}

#error_message {
  font-size: 14px;
}

#spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
#spinner div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  animation: spinner 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
#spinner div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
#spinner div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
#spinner div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes spinner {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
