$ubuntu-font: "Ubuntu", 'Trebuchet MS', Arial, sans-serif;


.section-title {
  font-size: 15px;
  margin-left: 9px;
  font-family: $ubuntu-font;
}

.card {
  border-radius: 3px;
}

.numeric-font {
  font-family: 'Ubuntu', Arial, serif;
}
