.wallet-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "transactions wallet_menu";
  grid-template-columns: auto 230px;
  grid-template-rows: 100%;
  overflow: hidden;

  .transactions-container {
    grid-area: transactions;
    width: 100%;
    height: 100%;

    .transactions-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .transactions-summary {
        height: 55px;

        .summary-section {
          width: 200px;

          div:last-child {
            text-align: right;
          }
        }
      }
    }
  }

  .wallet-menu {
    grid-area: wallet_menu;
    padding: 0 15px;

    .wallet-filters {
      form {
        .row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          &:first-child {
            padding-bottom: 4px;
            margin-bottom: 4px;
          }

          label {
            font-size: 10px;
          }
          input {
            width: 120px;
            text-align: right;
          }
        }
        .form-button {
          margin-top: 7px;
          display: flex;
          justify-content: end;
        }
      }
    }

    .calendar-nav-arrows span {
      user-select: none;
      font-size: 40px;
      cursor: pointer;
      height: 25px;
    }

    .wallet-months {
      text-align: right;

      .wallet-month {
        cursor: pointer;
        transition: .1s linear;
        font-family: $ubuntu-font;
      }
    }
  }

  .card-form.new-transaction {
    margin: 0 auto;
    max-width: 300px;

    label {
      display: block;
      width: 100px;
      font-size: 11px;
    }
    input {
      display: block;
      width: 100%;
      padding: 5px;
    }
    button {
      float: right;
    }
    .form-button {
      position: absolute;
      top: 173px;
      left: 225px;
    }
  }
}

.transactions-cards {
  height: calc(100vh - 107px);
}

.transactions-cards,
.edit-transaction {
  $transaction-date-width: 95px;
  $transaction-amount-width: 110px;
  $transaction-actions-width: 30px;
  $transaction-actions-dimension: 45px;

  .card-summary {
    display: flex;
    flex-direction: row;

    .transaction-date {
      min-width: $transaction-date-width;
      width: $transaction-date-width;
      text-align: right;
      font-size: 11px;
    }
    .transaction-name {
      flex-grow: 1;
      padding-left: 20px;
    }
    .transaction-amount {
      width: $transaction-amount-width;
      min-width: $transaction-amount-width;
      text-align: right;
    }
  }

  .card-summary .transaction-items-toggle,
  .card-item .card-item-actions {
    position: relative;
    padding-left: 15px;
    font-size: 12px;
    cursor: pointer;
    width: $transaction-actions-width;

    i {
      position: absolute;
      width: $transaction-actions-dimension;
      height: $transaction-actions-dimension;
      left: 0;
      top: -14px;
      line-height: $transaction-actions-dimension;
      text-align: center;
      transition: .1s linear;
    }
  }

  .card-items {
    width: 100%;
    padding-top: 4px;

    .card-item {
      width: 100%;
      display: flex;
      flex-direction: row;
      margin-top: 4px;
      transition: .1s linear;

      .card-item-name {
        padding-left: 20px;
        flex-grow: 1;
      }

      .card-item-amount {
        width: $transaction-amount-width;
        min-width: $transaction-amount-width;
        text-align: right;
      }

      .card-item-actions i {
        height: calc(#{$transaction-actions-dimension} - 22px);
        top: -2px;
        line-height: calc(#{$transaction-actions-dimension} - 22px);
      }
    }
  }
  .card-form {
    width: 100%;
    padding-top: 10px;

    form {
      display: flex;
      flex-direction: row;

      .form-name {
        padding-left: 20px;
        padding-right: 15px;
        padding-top: 3px;
        flex-grow: 1;
      }

      .form-amount {
        width: 100px;
        padding-right: 15px;
        padding-top: 3px;

        input {
          text-align: right;
        }
      }

      .form-button {
        width: 60px;
        padding-right: 10px;
      }

      input {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}
