$primary-background: #000;
$secondary-background: #333;
$container-background: #181818;

$main-font-color: #EEE;
$hover-font-color: #FFF;
$hover-background-color: #FFF;

$main-green: #2ECC40;
$main-grey: #AAAAAA;

$current-day-calendar-color: #FF4136;



body {
  background-color: $primary-background;
  color: $secondary-background;
}

pre {
  background-color: $main-font-color;
}

a {
  color: $main-font-color;
  &:hover {
    color: $hover-font-color;
    background-color: $hover-background-color;
  }
}

.container {
  background-color: $container-background;
}

.right-pane {
  background-color: $primary-background;
}

.top-header {
  background-color: $container-background
}

#logo {
  fill: #D6D6D6;
}

.background-image {
  background-color: #000;
}

.mask {
  background-color: rgba(0,0,0,0.3);
}

.top-header,
.right-pane {
  a {
    color: #444 !important;

    i {
      color: rgba(255, 255, 255, 0.2);
    }

    svg path {
      color: rgba($color: #FFF, $alpha: 0.4);
    }

    &.active {
      color: #111 !important;
    }

    &:hover {
      background-color: inherit;
      color: $main-font-color !important;

      i,
      svg path {
        color: white;
      }
    }
  }
}

.right-pane {
  color: #FFF;

  .nav {
    border-top: 15px solid $container-background;
  }

  .operations {
    border-bottom: 15px solid $container-background
  }

  .menu-divider {
    border-bottom: 15px solid $container-background;
  }
}

.green, .green path { color: $main-green !important; fill: $main-green !important; }
.grey, .grey path   { color: $main-grey !important; fill: $main-grey !important; }
