#react {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-areas:
    "nav container";
}

.container {
  padding: 0 15px 15px;
  grid-area: container;
}

.navigation-menu {
  grid-area: nav;
}

.overview-container {
  display: grid;
  grid-template-columns: auto 250px;
  grid-template-areas:
    "overview calendar";
}
