.p-r {
  position: relative;
}
.d-b {
  display: block;
}
.d-g {
  display: grid;
}
.d-f {
  display: flex;
}
.d-none {
  display: none;
}
.jc {
  align-content: space-between;
  justify-items: stretch;
}
.flex-row-justify {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.m0a {
  margin: 0 auto;
}

$list: 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 20 25 30 35 40 50 60 70 80 90 100;
@each $number in $list {
  .m#{$number} {
    margin: #{$number}px;
  }
  .mt#{$number} {
    margin-top: #{$number}px;
  }
  .mb#{$number} {
    margin-bottom: #{$number}px;
  }
  .ml#{$number} {
    margin-left: #{$number}px;
  }
  .mr#{$number} {
    margin-right: #{$number}px;
  }

  .p#{$number} {
    padding: #{$number}px;
  }
  .pt#{$number} {
    padding-top: #{$number}px;
  }
  .pb#{$number} {
    padding-bottom: #{$number}px;
  }
  .pl#{$number} {
    padding-left: #{$number}px;
  }
  .pr#{$number} {
    padding-right: #{$number}px;
  }
}

$list: 10 20 30 40 50 60 70 80 90 100;
@each $number in $list {
    .h#{$number} {
      height: $number * 1%;
    }
    .w#{$number} {
      width: $number * 1%;
    }
}
